body {
  font-family: sans-serif; }

.nav {
  z-index: 5;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  font-size: 14px;
  height: 65px; }
  .nav .nav-left {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 17px;
    float: left;
    width: calc(100% / 3); }
    .nav .nav-left p {
      margin: 0px 8px; }
    .nav .nav-left input {
      margin-left: 10px; }
    .nav .nav-left .search {
      border-radius: 3px;
      width: 185px;
      background: #E5E5E5 url(/public/50e09f533d0bab118cd215cc4bc2695c.svg) no-repeat scroll 11px 11px;
      padding: 11px 0px 11px 30px;
      border-style: none; }
  .nav .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 140px;
    margin-left: auto;
    margin-right: auto; }
    .nav .logo img {
      width: 140px;
      height: 25px; }
  .nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 17px;
    width: calc(100% / 3);
    float: right; }
    .nav .nav-right img:nth-child(3) {
      margin-left: 10px; }
    .nav .nav-right p {
      margin-left: 10px; }
    .nav .nav-right .login {
      color: #68D2C3; }
  .nav .links {
    background-color: #FFF;
    z-index: 5;
    height: 61px;
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden; }
  .nav .slide-in {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    height: 0px; }
  .nav .slide-out {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    height: 61px; }

.spacer {
  width: 100%;
  height: 127px; }

.scroll {
  height: 140vh;
  width: 100%; }

.background {
  background-color: #F3F3F3; }

.main {
  width: 100%; }

.all-deals {
  position: relative;
  padding-top: 80px;
  height: 140vh; }

.footer {
  background-color: #FFF; }
  .footer li:hover {
    cursor: pointer; }
  .footer .facebook:hover {
    cursor: pointer; }
    .footer .facebook:hover path {
      fill: #4f6eae; }
  .footer .twitter:hover {
    cursor: pointer; }
    .footer .twitter:hover path {
      fill: #7cd8cb; }
  .footer .pinterest:hover {
    cursor: pointer; }
    .footer .pinterest:hover path {
      fill: #B93936; }
  .footer .instagram:hover {
    cursor: pointer; }
    .footer .instagram:hover path {
      fill: #527FA4; }
  .footer .snapchat:hover {
    cursor: pointer; }
    .footer .snapchat:hover path {
      fill: yellow; }
  .footer h1 {
    font-size: 10px; }
  .footer li {
    font-size: 9px;
    margin: 15px 0 16px 0;
    color: #999999; }
  .footer .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5; }
    .footer .top .left {
      width: 415px;
      display: flex;
      justify-content: space-between; }
    .footer .top .right {
      width: 150px;
      display: flex;
      justify-content: space-between; }
      .footer .top .right img {
        height: 20px; }
  .footer .bottom {
    margin: 4px 0 0 0;
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    .footer .bottom p {
      font-size: 12px; }
    .footer .bottom img {
      height: 20px;
      width: 65px; }

/*# sourceMappingURL=styles.css.map*/