body {
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

b {
  font-weight: bold; }

.search {
  position: relative; }
  .search .mag {
    display: none; }
    @media (max-width: 885px) {
      .search .mag {
        position: fixed;
        top: 10px;
        left: 35px;
        display: block;
        margin-left: 15px; } }
  .search .overlay {
    opacity: .5;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #595959;
    z-index: 5; }
    @media (max-width: 885px) {
      .search .overlay {
        display: none; } }
  .search ul {
    position: absolute;
    left: 10px;
    width: 245px;
    background: #FFF;
    z-index: 10; }
    @media (max-width: 885px) {
      .search ul {
        height: calc(100vh - 44px);
        left: 0px;
        width: 100%; } }
  .search li {
    line-height: 40px;
    padding: 0 10px 0 20px;
    font-size: 16px; }
  .search li:hover {
    background-color: #E5E5E5; }
  .search .media-search .search-cancel {
    display: flex;
    align-items: center;
    margin: 10px 10px -1px; }
    .search .media-search .search-cancel p {
      margin: 0px 10px;
      font-size: 16px; }
  .search .media-search .search-input {
    border-radius: 3px;
    width: 215px;
    background: #F3F3F3 url(/public/50e09f533d0bab118cd215cc4bc2695c.svg) no-repeat scroll 11px 11px;
    padding: 11px 0px 11px 30px;
    border-style: none; }
    @media (max-width: 885px) {
      .search .media-search .search-input {
        width: 100%; } }
  @media (max-width: 885px) {
    .search .media-search .not-mobile {
      display: none; } }
  .search .media-search .is-mobile {
    display: none; }
    @media (max-width: 885px) {
      .search .media-search .is-mobile {
        display: flex; } }
  .search .media-search .mobile-search {
    display: none; }
    @media (max-width: 885px) {
      .search .media-search .mobile-search {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        line-height: 45px; }
        .search .media-search .mobile-search img {
          margin-right: 15px; } }
  .search .media-search .search-input:focus::-webkit-input-placeholder {
    color: transparent; }
  .search .media-search .search-input:focus {
    outline: none; }
  .search .media-search .active-search {
    background-color: #FFF;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    z-index: 10; }
  @media (max-width: 885px) {
    .search .media-search {
      position: relative;
      background-color: #fff;
      min-height: 45px;
      width: 100%;
      top: -1px;
      border-top: 1px solid #e5e5e5; } }

.nav {
  z-index: 5;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  font-size: 14px;
  height: 65px; }
  @media (max-width: 885px) {
    .nav {
      height: 44px; } }
  .nav .media-searches {
    display: none; }
    @media (max-width: 885px) {
      .nav .media-searches {
        display: block; } }
  .nav .active {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 3px; }
  .nav .nav-left {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 17px;
    float: left; }
    @media (max-width: 885px) {
      .nav .nav-left {
        margin-right: 38px; } }
    @media (max-width: 885px) {
      .nav .nav-left .header-search {
        display: none; } }
    .nav .nav-left p {
      margin: 0px 8px; }
      @media (max-width: 885px) {
        .nav .nav-left p {
          display: none; } }
    .nav .nav-left input {
      margin-left: 10px; }
  .nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 140px;
    margin: auto; }
    .nav .logo img {
      width: 140px;
      height: 25px; }
      @media (max-width: 885px) {
        .nav .logo img {
          height: auto;
          width: 101px; } }
  .nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 17px;
    float: right; }
    .nav .nav-right .cart-qty {
      border-radius: 50%;
      background-color: #ff8188;
      color: #FFF;
      font-size: 10px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      margin-left: -10px; }
    .nav .nav-right .user {
      cursor: pointer; }
    .nav .nav-right .user::after {
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      content: '';
      transform: rotate(135deg);
      height: .45em;
      width: .45em;
      position: relative;
      vertical-align: top;
      left: 5px; }
    .nav .nav-right .hide {
      display: none; }
    .nav .nav-right img:nth-child(3) {
      margin-left: 10px; }
    .nav .nav-right p {
      margin-left: 10px;
      margin-right: 15px; }
      @media (max-width: 885px) {
        .nav .nav-right p {
          display: none; } }
    .nav .nav-right .login {
      color: #68D2C3; }
    .nav .nav-right .header-link {
      display: flex;
      align-items: center; }
      @media (max-width: 885px) {
        .nav .nav-right .header-link {
          margin-left: 15px; } }
  .nav .links {
    background-color: #FFF;
    z-index: 5;
    height: 61px;
    padding: 0 10vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden; }
    @media (max-width: 1100px) {
      .nav .links {
        padding: 0 5vw;
        font-size: 80%; } }
    @media (max-width: 885px) {
      .nav .links {
        display: none; } }
  .nav .slide-in {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height: 0px; }
  .nav .slide-out {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height: 61px; }

.spacer {
  width: 100%;
  height: 127px; }
  @media (max-width: 885px) {
    .spacer {
      height: 100px; } }

.scroll {
  width: 100%; }

.main {
  background: #F3F3F3;
  width: 100%; }

.footer {
  background-color: #FFF; }
  .footer li:hover {
    cursor: pointer; }
  .footer .facebook:hover {
    cursor: pointer; }
    .footer .facebook:hover path {
      fill: #4f6eae; }
  .footer .twitter:hover {
    cursor: pointer; }
    .footer .twitter:hover path {
      fill: #7cd8cb; }
  .footer .pinterest:hover {
    cursor: pointer; }
    .footer .pinterest:hover path {
      fill: #B93936; }
  .footer .instagram:hover {
    cursor: pointer; }
    .footer .instagram:hover path {
      fill: #527FA4; }
  .footer .snapchat:hover {
    cursor: pointer; }
    .footer .snapchat:hover path {
      fill: yellow; }
  .footer h1 {
    font-size: 10px; }
  .footer li {
    font-size: 9px;
    margin: 15px 0 16px 0;
    color: #999999; }
  .footer .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5; }
    @media (max-width: 685px) {
      .footer .top {
        display: block; } }
    .footer .top .left {
      min-width: 50%;
      display: flex;
      justify-content: space-between; }
      @media (max-width: 685px) {
        .footer .top .left {
          max-width: 600px; } }
      .footer .top .left li:hover {
        color: #FF8188; }
    .footer .top .right {
      width: 150px;
      display: flex;
      justify-content: space-between; }
      .footer .top .right img {
        height: 20px; }
      @media (max-width: 685px) {
        .footer .top .right svg {
          margin: 0 10px; } }
      @media (max-width: 685px) {
        .footer .top .right {
          margin: auto;
          border-top: 1px solid #E5E5E5;
          width: 100%;
          justify-content: center;
          padding-top: 20px;
          margin-top: 5px; } }
  .footer .bottom {
    margin: 4px 0 0 0;
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    .footer .bottom p {
      font-size: 12px; }
    .footer .bottom img {
      height: 20px;
      width: 65px; }

.shop {
  position: relative;
  padding-top: 15px;
  background-color: #F3F3F3; }
  @media screen and (max-width: 980px) {
    .shop {
      /* Tablet */
      width: 95%;
      margin: auto; } }
  @media screen and (max-width: 685px) {
    .shop {
      width: 95%; } }
  .shop .products-container {
    max-width: 1300px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1300px) {
      .shop .products-container {
        max-width: 1010px; } }
    @media (max-width: 980px) {
      .shop .products-container {
        max-width: 800px;
        justify-content: center; } }
    @media (max-width: 685px) {
      .shop .products-container {
        width: 95%; } }
    .shop .products-container .product-summary {
      padding: 9px 20px 0px;
      height: 51px;
      background-color: #FFF;
      display: flex;
      justify-content: space-between; }
      .shop .products-container .product-summary .like {
        margin-top: 8px;
        background: white;
        padding: 6px 10px;
        border: 1px solid #d9d3d3;
        border-radius: 3px;
        color: #999;
        font-size: 12px;
        display: flex; }
        .shop .products-container .product-summary .like img {
          align-self: center;
          width: 10px;
          margin-right: 2px; }
      .shop .products-container .product-summary .product-sum-left {
        margin-top: 8px;
        width: calc(100% - 60px); }
      .shop .products-container .product-summary .product-name {
        font-size: 19px;
        color: #6d6c6d;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .shop .products-container .product-summary .sale-price {
        color: #FF8188;
        font-size: 12px;
        clear: both; }
      .shop .products-container .product-summary .retail-price {
        color: #999;
        text-decoration: line-through;
        font-size: 12px; }
    .shop .products-container .large-product-container {
      width: 620px;
      margin: 15px 15px; }
      .shop .products-container .large-product-container img {
        width: 620px;
        max-height: 320px;
        display: block; }
        @media (max-width: 1300px) {
          .shop .products-container .large-product-container img {
            width: 475px;
            max-height: 245px; } }
        @media (max-width: 1010px) {
          .shop .products-container .large-product-container img {
            width: 295px;
            max-height: 151.97px; } }
        @media (max-width: 685px) {
          .shop .products-container .large-product-container img {
            width: 100%;
            max-height: none; } }
      @media (max-width: 1300px) {
        .shop .products-container .large-product-container {
          width: 475px;
          height: auto; } }
      @media (max-width: 1010px) {
        .shop .products-container .large-product-container {
          width: 295px;
          height: auto; } }
      @media (max-width: 685px) {
        .shop .products-container .large-product-container {
          width: 100%;
          height: auto; } }
    .shop .products-container .small-product-container {
      width: 295px;
      margin: 15px 15px; }
      @media (max-width: 685px) {
        .shop .products-container .small-product-container {
          width: 100%; } }
      .shop .products-container .small-product-container .product-img {
        max-height: 151.97px; }
        @media (max-width: 685px) {
          .shop .products-container .small-product-container .product-img {
            max-height: none; } }
      .shop .products-container .small-product-container img {
        width: 295px;
        display: block; }
        @media (max-width: 685px) {
          .shop .products-container .small-product-container img {
            width: 100%; } }
  .shop .ads {
    max-width: 1300px;
    margin: 15px auto;
    display: flex; }
    @media (max-width: 1300px) {
      .shop .ads {
        max-width: 1010px; } }
    @media (max-width: 1010px) {
      .shop .ads {
        display: none; } }
    .shop .ads .small-ad {
      width: 295px;
      margin: 0px 15px;
      display: inline-block;
      vertical-align: top; }
      .shop .ads .small-ad img {
        max-width: 100%; }
  .shop .large-ad {
    width: 620px;
    margin: 0px 15px;
    display: inline-block; }
    .shop .large-ad img {
      max-width: 100%; }
  .shop .item-container {
    background: #FFF;
    width: 940px;
    margin: 0px auto 15px;
    padding: 40px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1025px) {
      .shop .item-container .media-only {
        display: none; } }
    @media (max-width: 1025px) {
      .shop .item-container {
        max-width: 625px;
        width: auto;
        display: block; } }
    .shop .item-container b {
      font-weight: bold; }
    .shop .item-container .product-description {
      width: 700px;
      padding-right: 30px; }
      @media (max-width: 1025px) {
        .shop .item-container .product-description {
          width: 100%; } }
      .shop .item-container .product-description .product-details {
        margin-top: 15px; }
        .shop .item-container .product-description .product-details p {
          margin-bottom: 10px;
          font-size: 15px; }
        .shop .item-container .product-description .product-details ul {
          list-style: initial;
          list-style-position: inside; }
          .shop .item-container .product-description .product-details ul li {
            font-size: 14px;
            color: #afabab;
            line-height: 20px; }
      .shop .item-container .product-description h1 {
        margin-bottom: 15px;
        font-size: 15px; }
      .shop .item-container .product-description .description p {
        color: #afabab;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px; }
    .shop .item-container .seller-info {
      width: 370px;
      padding-left: 30px;
      border-left: 1px solid #EEE; }
      @media (max-width: 1025px) {
        .shop .item-container .seller-info {
          padding: 0;
          border: 0;
          width: 100%; } }
      @media (max-width: 1025px) {
        .shop .item-container .seller-info .border-desc-top {
          border-top: 1px solid #EEE;
          padding-top: 15px; } }
      .shop .item-container .seller-info h1 {
        margin-bottom: 15px;
        font-size: 15px; }
      .shop .item-container .seller-info p {
        color: #afabab;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px; }
      .shop .item-container .seller-info .seller {
        position: relative;
        margin-bottom: 15px; }
        .shop .item-container .seller-info .seller span {
          color: #afabab;
          margin-left: 20px;
          position: absolute;
          top: 40%;
          font-size: 13px; }
      .shop .item-container .seller-info img {
        width: 80px;
        border-radius: 50px;
        border: solid 1px #bfbdbd;
        box-shadow: 0px 4px 5px #dbdbdb; }
    .shop .item-container .left-item img {
      width: 620px; }
      @media (max-width: 1025px) {
        .shop .item-container .left-item img {
          max-width: 620px;
          margin-bottom: 25px;
          width: 100%; } }
    .shop .item-container .left-item .carousel {
      padding-bottom: 15px;
      border-bottom: 2px solid #EEE; }
      .shop .item-container .left-item .carousel img {
        width: 100px; }
    .shop .item-container .left-item .sale-info {
      padding: 20px 0px;
      border-bottom: 2px solid #EEE; }
    .shop .item-container .right-item {
      width: 280px; }
      @media (max-width: 1025px) {
        .shop .item-container .right-item {
          width: 100%; } }
      .shop .item-container .right-item .add-to-cart {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px; }
        .shop .item-container .right-item .add-to-cart input {
          padding: 10px 16px;
          width: 36px;
          margin-right: 10px;
          border: 1px solid #dbd9d9;
          border-radius: 3px;
          font-size: 15px; }
          @media (max-width: 1025px) {
            .shop .item-container .right-item .add-to-cart input {
              width: 15%;
              text-align: center; } }
        .shop .item-container .right-item .add-to-cart input:focus {
          border-color: #68D2C3; }
        .shop .item-container .right-item .add-to-cart button {
          background: #68D2C3;
          border-color: #68D2C3;
          border-bottom: 3px solid #58bdaf;
          border-radius: 3px;
          color: #FFF;
          width: 100%;
          padding: 10px 20px 8px;
          line-height: 25px;
          text-align: center;
          border-right: 0px;
          font-size: 15px; }
      .shop .item-container .right-item h1 {
        font-size: 20px; }
        @media (max-width: 1025px) {
          .shop .item-container .right-item h1 {
            font-size: 12px; } }
      .shop .item-container .right-item .price-favorites {
        margin-bottom: 20px;
        margin-top: 10px;
        overflow: hidden; }
        @media (max-width: 1025px) {
          .shop .item-container .right-item .price-favorites {
            margin-top: 0; } }
        .shop .item-container .right-item .price-favorites .product-sum-left {
          float: left;
          margin-top: 8px; }
          @media (max-width: 1025px) {
            .shop .item-container .right-item .price-favorites .product-sum-left {
              margin-top: 0; } }
        .shop .item-container .right-item .price-favorites .product-sum-right {
          float: right; }
        .shop .item-container .right-item .price-favorites .small {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 180px; }
        .shop .item-container .right-item .price-favorites .product-name {
          font-size: 19px;
          color: #6d6c6d; }
        .shop .item-container .right-item .price-favorites .sale-price {
          color: #FF8188;
          font-size: 16px;
          vertical-align: -webkit-baseline-middle; }
        .shop .item-container .right-item .price-favorites .retail-price {
          color: #999;
          text-decoration: line-through;
          font-size: 12px;
          vertical-align: bottom; }
      .shop .item-container .right-item .shipping {
        clear: both;
        margin-bottom: 20px; }
        @media (max-width: 1025px) {
          .shop .item-container .right-item .shipping {
            display: none; } }
        .shop .item-container .right-item .shipping span {
          font-size: 12px;
          color: #999;
          font-style: italic; }
        .shop .item-container .right-item .shipping img {
          vertical-align: bottom;
          margin-right: 3px; }
      .shop .item-container .right-item .social-media {
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE; }
        @media (max-width: 1025px) {
          .shop .item-container .right-item .social-media {
            display: none; } }
      .shop .item-container .right-item .product-details {
        margin-top: 15px; }
        .shop .item-container .right-item .product-details p {
          margin-bottom: 10px; }
        .shop .item-container .right-item .product-details ul {
          list-style: initial;
          list-style-position: inside; }
          .shop .item-container .right-item .product-details ul li {
            font-size: 13px;
            color: #afabab;
            line-height: 20px; }
        .shop .item-container .right-item .product-details .read-more {
          margin-top: 15px;
          color: #B7E9E2; }

.base {
  background: #F3F3F3;
  height: 100%; }
  .base .has-account {
    margin: 15px 0px 40px;
    color: #7cd8cb;
    font-size: 14px;
    text-align: center; }
  .base .logon {
    background: #F3F3F3; }

.login-pane {
  background: #FFF;
  width: 270px;
  min-height: 429px;
  padding: 30px 40px 40px 40px;
  margin: 30px auto; }
  @media (max-width: 900px) {
    .login-pane {
      padding: 20px 30px 30px; } }
  @media (max-width: 400px) {
    .login-pane {
      padding: 10px 20px 20px; } }
  .login-pane .fb-button {
    width: 100%; }
  .login-pane img {
    display: block;
    width: 180px;
    margin: 20px auto 40px auto; }
  .login-pane .fb-auth {
    background: #4f6eae;
    border-color: #47639c;
    border-bottom: 3px solid #47639c;
    border-radius: 3px;
    color: #FFF;
    width: 100%;
    padding: 10px 20px 8px;
    line-height: 25px;
    text-align: center;
    border-right: 0px;
    font-weight: bold;
    font-size: 15px; }
  .login-pane .or {
    margin: 20px 60px;
    text-align: center;
    font-style: italic;
    font-weight: 600; }
  .login-pane .or::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #d6d6d6;
    width: 50px;
    height: 3px;
    transform: translateX(15px); }
  .login-pane .or::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #d6d6d6;
    width: 50px;
    height: 3px;
    transform: translateX(-15px); }
  .login-pane .login-form .invalid-login {
    border: 1px solid #ffced0;
    color: #ff4e58;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    line-height: 20px; }
  .login-pane .login-form .hide {
    display: none; }
  .login-pane .login-form .login input {
    margin: 10px 0px; }
  .login-pane .login-form .login .invalid {
    border-color: red; }
  .login-pane .login-form .login .error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 20px; }
  .login-pane .login-form .login .hide {
    display: none; }
  .login-pane .login-form .sign-up input {
    margin: 5px 0px; }
  .login-pane .login-form .sign-up .invalid {
    border-color: red; }
  .login-pane .login-form .sign-up .error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 20px; }
  .login-pane .login-form .sign-up .hide {
    display: none; }
  .login-pane .login-form .input-wrapper {
    width: 270px; }
    .login-pane .login-form .input-wrapper input {
      box-sizing: border-box;
      min-width: 100%;
      padding: 10px 16px;
      border-radius: 3px;
      border: 1px solid #d6d6d6; }
  .login-pane .login-form p {
    color: #7cd8cb;
    text-align: center;
    margin-bottom: 10px; }
  .login-pane .login-form .btn {
    background-color: #68D2C3;
    border-bottom: 3px solid #58b9ab;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 10px 20px 8px;
    width: 100%;
    border-radius: 3px;
    height: 45px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: bold; }
  .login-pane .login-form .btn-sign-up {
    margin-top: 5px; }

.checkout {
  background-color: #F3F3F3; }
  .checkout .cart-wrapper {
    margin: 20px auto 40px;
    max-width: 1300px;
    display: flex; }
    @media (max-width: 800px) {
      .checkout .cart-wrapper {
        display: block; } }
    .checkout .cart-wrapper .cart {
      height: 0%;
      background-color: #FFF;
      max-width: 930px;
      width: 100%;
      padding: 20px 20px 40px;
      margin-right: 20px; }
      @media (max-width: 800px) {
        .checkout .cart-wrapper .cart {
          margin: auto;
          width: 95%;
          padding: 20px 0 40px;
          margin-bottom: 20px; } }
      @media (max-width: 580px) {
        .checkout .cart-wrapper .cart {
          padding: 10px 0 20px; } }
      @media (max-width: 580px) {
        .checkout .cart-wrapper .cart .media-hide {
          display: none; } }
      .checkout .cart-wrapper .cart .cart-login-signup {
        display: flex; }
        .checkout .cart-wrapper .cart .cart-login-signup .media-login {
          display: none; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .cart-login-signup .media-login {
              display: block; } }
        @media (max-width: 580px) {
          .checkout .cart-wrapper .cart .cart-login-signup {
            display: block; } }
        .checkout .cart-wrapper .cart .cart-login-signup div {
          width: 100%; }
        .checkout .cart-wrapper .cart .cart-login-signup .cart-reset {
          padding: 0 20px 10px 10px;
          margin: 0px;
          min-height: 0px;
          box-sizing: border-box; }
          .checkout .cart-wrapper .cart .cart-login-signup .cart-reset h1 {
            padding: 0 0 20px 0;
            line-height: 20px;
            font-size: 15px;
            color: #999;
            border-bottom: 1px solid #dbd9d9; }
          .checkout .cart-wrapper .cart .cart-login-signup .cart-reset p {
            margin: 0; }
            @media (max-width: 800px) {
              .checkout .cart-wrapper .cart .cart-login-signup .cart-reset p {
                font-size: 14px; } }
            @media (max-width: 580px) {
              .checkout .cart-wrapper .cart .cart-login-signup .cart-reset p {
                font-size: 12px; } }
          .checkout .cart-wrapper .cart .cart-login-signup .cart-reset p:nth-child(1) {
            margin: 20px 60px;
            text-align: center;
            font-style: italic;
            font-size: 17px;
            font-weight: 600;
            color: #1a1819; }
        .checkout .cart-wrapper .cart .cart-login-signup .cart-reset-login input:nth-child(1) {
          margin: 0; }
        .checkout .cart-wrapper .cart .cart-login-signup .cart-reset-login .line {
          margin-top: 15px;
          padding-top: 20px;
          border-top: 1px solid #dbd9d9; }
        .checkout .cart-wrapper .cart .cart-login-signup .cart-reset-login h2 {
          color: red;
          padding: 0;
          margin-bottom: 10px;
          border: none; }
      .checkout .cart-wrapper .cart .login-cart {
        display: flex; }
        .checkout .cart-wrapper .cart .login-cart h1 {
          font-size: 14px;
          padding: 30px 0 30px;
          width: 50%;
          border-bottom: 1px solid #e5e5e5; }
        .checkout .cart-wrapper .cart .login-cart h1:nth-child(1) {
          padding-left: 10px;
          margin-right: 10px; }
        @media (max-width: 580px) {
          .checkout .cart-wrapper .cart .login-cart h1 {
            width: 100%; }
          .checkout .cart-wrapper .cart .login-cart h1:nth-child(2) {
            display: none; } }
      .checkout .cart-wrapper .cart .complete-order {
        padding: 0 10px; }
      .checkout .cart-wrapper .cart .terms-of-use {
        padding: 25px 0 0;
        border-bottom: 1px solid #e5e5e5; }
        .checkout .cart-wrapper .cart .terms-of-use h1 {
          color: #999;
          border: none;
          padding: 0 0 5px 10px; }
        .checkout .cart-wrapper .cart .terms-of-use span {
          cursor: pointer;
          color: #68D2C3; }
      .checkout .cart-wrapper .cart .shipping-payment {
        padding: 10px 0px 30px;
        border-bottom: 1px solid #e5e5e5;
        display: flex; }
        @media (max-width: 800px) {
          .checkout .cart-wrapper .cart .shipping-payment {
            display: block; } }
        .checkout .cart-wrapper .cart .shipping-payment .media-pay {
          display: none;
          padding-top: 15px;
          margin-left: 10px; }
          @media (max-width: 800px) {
            .checkout .cart-wrapper .cart .shipping-payment .media-pay {
              display: block; } }
        .checkout .cart-wrapper .cart .shipping-payment .hide {
          display: none; }
        .checkout .cart-wrapper .cart .shipping-payment .address-form {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 10; }
          .checkout .cart-wrapper .cart .shipping-payment .address-form .menu-background {
            background: #F5F5F5;
            opacity: .8;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10; }
          .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details {
            padding: 20px;
            background-color: #FFF;
            width: 280px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 11; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-header {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              border-bottom: 1px solid #e5e5e5;
              padding: 0 0 20px 0;
              margin-bottom: 20px; }
              .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-header p {
                color: #000;
                font-size: 15px;
                margin-top: 0; }
              .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-header img {
                cursor: pointer; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input .error {
              padding: 10px 0px 0px 10px;
              font-size: 15px;
              color: #ffc261; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input .hide {
              display: none; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input input {
              width: 100%;
              padding: 10px 10px;
              margin: 10px 0;
              background-color: #FCFCFC;
              box-sizing: border-box;
              border: 1px solid #E9E9E9;
              font-size: 14px; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input input:nth-child(2),
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input input:nth-child(5) {
              margin-top: 0; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input h1 {
              border: none;
              padding: 0;
              margin: 15px 0 8px 0;
              font-weight: bold;
              font-size: 13px; }
            .checkout .cart-wrapper .cart .shipping-payment .address-form .address-details .address-input button {
              background-color: #68D2C3;
              border-bottom: 3px solid #58b9ab;
              border-right: 0px;
              border-left: 0px;
              border-top: 0px;
              padding: 10px 20px 8px;
              border-radius: 3px;
              height: 45px;
              color: #FFF;
              font-weight: bold;
              margin: 10px auto 0px;
              float: right; }
        .checkout .cart-wrapper .cart .shipping-payment .new-address {
          width: calc(100% / 2); }
          @media (max-width: 800px) {
            .checkout .cart-wrapper .cart .shipping-payment .new-address {
              width: 100%; } }
          .checkout .cart-wrapper .cart .shipping-payment .new-address .error {
            color: red;
            text-align: left; }
          .checkout .cart-wrapper .cart .shipping-payment .new-address .shipping_address {
            padding: 10px 10px 0 0;
            display: flex;
            align-items: baseline; }
            @media (max-width: 800px) {
              .checkout .cart-wrapper .cart .shipping-payment .new-address .shipping_address {
                margin-left: 2.5%; } }
            .checkout .cart-wrapper .cart .shipping-payment .new-address .shipping_address input {
              margin-right: 20px; }
            .checkout .cart-wrapper .cart .shipping-payment .new-address .shipping_address p {
              margin: 0 0 5px 0;
              font-weight: bold;
              text-align: left;
              color: #000; }
            .checkout .cart-wrapper .cart .shipping-payment .new-address .shipping_address h3 {
              font-weight: normal;
              line-height: 20px;
              font-size: 13px; }
          .checkout .cart-wrapper .cart .shipping-payment .new-address button {
            width: 90%;
            cursor: pointer;
            float: left; }
            @media (max-width: 800px) {
              .checkout .cart-wrapper .cart .shipping-payment .new-address button {
                float: none;
                width: 95%; } }
        .checkout .cart-wrapper .cart .shipping-payment .payment-method {
          width: calc(100% / 2);
          padding: 20px 0 0; }
          @media (max-width: 800px) {
            .checkout .cart-wrapper .cart .shipping-payment .payment-method {
              width: 100%; } }
          .checkout .cart-wrapper .cart .shipping-payment .payment-method h1 {
            border: none;
            padding: 0;
            font-size: 14px;
            color: #999;
            text-align: center; }
          .checkout .cart-wrapper .cart .shipping-payment .payment-method .pay-btm {
            display: flex;
            justify-content: center; }
            .checkout .cart-wrapper .cart .shipping-payment .payment-method .pay-btm button {
              height: 40px;
              padding: 10px 15px;
              color: white;
              background-color: #7CD8CB;
              border: none;
              cursor: pointer; }
            .checkout .cart-wrapper .cart .shipping-payment .payment-method .pay-btm button:nth-child(3) {
              background-color: #FF881C; }
            .checkout .cart-wrapper .cart .shipping-payment .payment-method .pay-btm img {
              height: 40px;
              width: 105px;
              padding: 0px 12px;
              cursor: pointer; }
        .checkout .cart-wrapper .cart .shipping-payment .pay-by-card {
          width: calc(100% / 2);
          padding-top: 10px; }
          @media (max-width: 800px) {
            .checkout .cart-wrapper .cart .shipping-payment .pay-by-card {
              max-width: 600px;
              margin: auto;
              width: auto; } }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card span {
            padding-left: 10px; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card span:nth-child(1) {
            color: #44C7B5;
            font-size: 14px;
            margin-top: 10px;
            cursor: pointer; }
            .checkout .cart-wrapper .cart .shipping-payment .pay-by-card span:nth-child(1) img {
              margin-right: 8px; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card h1 {
            border: none;
            padding: 0;
            margin: 15px 0; }
            @media (max-width: 800px) {
              .checkout .cart-wrapper .cart .shipping-payment .pay-by-card h1 {
                margin-left: 10px; } }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card form {
            padding-right: 20px; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .input-text {
            width: 100%;
            padding: 10px;
            margin: 8px 10px 0px;
            background-color: #FFF;
            border: 1px solid #ccc;
            font-size: 14px;
            box-sizing: border-box;
            border-radius: 3px; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .drop-down-box {
            color: #555555;
            font-weight: bold;
            width: 100%;
            padding: 10px;
            margin: 8px 10px 0px;
            border: 1px solid #ccc;
            font-size: 15px;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid #ccc;
            background-color: #FFF; }
            .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .drop-down-box .invalid {
              border-color: red;
              color: red; }
            .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .drop-down-box option {
              font-weight: bold; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .billing-address {
            padding: 15px 10px 20px 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #EEEEEE;
            width: 100%;
            font-size: 15px;
            color: #555555; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .same-text {
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 7px;
            margin-top: 5px;
            float: left; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .same-address {
            margin: 0px 8px 0px 10px;
            vertical-align: text-top; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .cvv {
            padding: 10px;
            margin: 8px 10px 0px;
            font-size: 14px;
            box-sizing: content-box;
            width: 55px;
            height: 17px;
            padding: 10px 16px;
            border-radius: 3px;
            border: 1px solid #ccc; }
          .checkout .cart-wrapper .cart .shipping-payment .pay-by-card .invalid {
            border-color: red;
            color: red; }
      .checkout .cart-wrapper .cart .shipping-header {
        font-size: 14px;
        padding: 30px 10px 10px;
        display: flex;
        border-bottom: 1px solid #e5e5e5; }
        .checkout .cart-wrapper .cart .shipping-header h1 {
          width: calc(100% / 2);
          text-align: left;
          border: none;
          padding: 0; }
        @media (max-width: 800px) {
          .checkout .cart-wrapper .cart .shipping-header h1:nth-child(2) {
            display: none; } }
      .checkout .cart-wrapper .cart .note {
        padding: 5px 0 25px 0;
        border-bottom: 1px solid #e5e5e5; }
        .checkout .cart-wrapper .cart .note p {
          line-height: 25px;
          font-size: 16px;
          text-align: left;
          font-style: italic; }
          @media (max-width: 800px) {
            .checkout .cart-wrapper .cart .note p {
              font-size: 14px; } }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .note p {
              font-size: 12px; } }
      .checkout .cart-wrapper .cart .order-total {
        padding: 5px 10px 25px;
        border-bottom: 1px solid #e5e5e5;
        height: 100px; }
        .checkout .cart-wrapper .cart .order-total .order-right {
          width: calc(100% / 2);
          float: right; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .order-total .order-right {
              width: 100%;
              float: none; } }
          .checkout .cart-wrapper .cart .order-total .order-right div {
            height: 20px;
            display: flex;
            justify-content: space-between; }
            @media (max-width: 580px) {
              .checkout .cart-wrapper .cart .order-total .order-right div {
                margin: 0 10px; } }
            .checkout .cart-wrapper .cart .order-total .order-right div h1 {
              font-size: 14px;
              padding: 0;
              margin: 0 0 10px 0;
              border: none;
              text-align: right;
              margin-bottom: 10px; }
          .checkout .cart-wrapper .cart .order-total .order-right .final-price {
            font-weight: bold;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed #EEE; }
            .checkout .cart-wrapper .cart .order-total .order-right .final-price h1 {
              font-size: 17px; }
      .checkout .cart-wrapper .cart .cart-item {
        padding-bottom: 20px;
        border-bottom: 2px solid #EEE;
        margin-bottom: 20px; }
        @media (max-width: 580px) {
          .checkout .cart-wrapper .cart .cart-item {
            padding: 0; } }
        .checkout .cart-wrapper .cart .cart-item .media-cart {
          display: none;
          padding: 0 10px; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .cart-item .media-cart {
              display: block; } }
          .checkout .cart-wrapper .cart .cart-item .media-cart .media-cart-line {
            display: flex;
            justify-content: space-between;
            margin: 15px 0; }
            .checkout .cart-wrapper .cart .cart-item .media-cart .media-cart-line p {
              margin: 0 0 0 10px;
              font-size: 12px;
              color: black;
              padding: 5px 0 10px; }
            .checkout .cart-wrapper .cart .cart-item .media-cart .media-cart-line h2 {
              margin: 0 10px 0 0;
              font-size: 12px;
              padding: 10px 0; }
            .checkout .cart-wrapper .cart .cart-item .media-cart .media-cart-line span {
              color: #68D2C3; }
          .checkout .cart-wrapper .cart .cart-item .media-cart .border-bot {
            border-bottom: 1px solid #EEE; }
          .checkout .cart-wrapper .cart .cart-item .media-cart .border-top {
            border-top: 1px solid #EEE;
            padding-top: 10px;
            margin-bottom: 0px; }
        .checkout .cart-wrapper .cart .cart-item .hide {
          display: none; }
        .checkout .cart-wrapper .cart .cart-item .is-mobile {
          display: none; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .cart-item .is-mobile {
              display: block; } }
        .checkout .cart-wrapper .cart .cart-item .edit-qty {
          position: relative;
          width: calc(100% / 2.6);
          float: right;
          padding: 10px 0px; }
          .checkout .cart-wrapper .cart .cart-item .edit-qty input {
            padding: 5px 15px;
            width: 10px;
            background-color: #FCFCFC;
            border: solid 1px #e5e5e5;
            color: #7A7979;
            font-size: 14px; }
          .checkout .cart-wrapper .cart .cart-item .edit-qty img {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            height: 12px;
            float: right;
            padding-right: 10px;
            cursor: pointer; }
        .checkout .cart-wrapper .cart .cart-item .clearfix {
          display: block;
          border-bottom: 1px dashed #EEE; }
        .checkout .cart-wrapper .cart .cart-item .clearfix:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0; }
        @media (max-width: 580px) {
          .checkout .cart-wrapper .cart .cart-item .not-mobile {
            display: none; } }
        .checkout .cart-wrapper .cart .cart-item .cart-item-top {
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed #EEE; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .cart-item .cart-item-top {
              display: block; } }
          .checkout .cart-wrapper .cart .cart-item .cart-item-top img {
            width: 100px;
            height: 51px; }
          .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left {
            display: flex;
            width: calc(100% / 2);
            padding-left: 10px; }
            @media (max-width: 580px) {
              .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left {
                width: calc(100% - 20px); } }
            .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left p {
              text-align: left;
              margin: 0 0 15px 25px;
              font-size: 16px; }
              @media (max-width: 800px) {
                .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left p {
                  font-size: 14px; } }
              @media (max-width: 580px) {
                .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left p {
                  font-size: 12px; } }
            .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-left p:nth-child(1) {
              color: #6b6a6a; }
          .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-right {
            display: flex;
            justify-content: space-between;
            width: calc(100% / 2.7);
            padding-right: 10px; }
            @media (max-width: 580px) {
              .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-right {
                display: none; } }
            .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-right h2 {
              width: calc(100% / 2);
              text-align: left;
              color: #7a7979;
              font-size: 14px; }
            .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-right h2:nth-child(3) {
              text-align: right;
              width: auto; }
            .checkout .cart-wrapper .cart .cart-item .cart-item-top .cart-item-right span {
              color: #68D2C3;
              cursor: pointer; }
        .checkout .cart-wrapper .cart .cart-item .cart-item-bottom {
          padding: 25px 10px 15px;
          clear: both;
          margin-left: 10px; }
          @media (max-width: 580px) {
            .checkout .cart-wrapper .cart .cart-item .cart-item-bottom {
              padding: 0 10px; }
              .checkout .cart-wrapper .cart .cart-item .cart-item-bottom h2 {
                font-size: 12px; } }
          .checkout .cart-wrapper .cart .cart-item .cart-item-bottom .price-ship-details {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #3e3d3d; }
            @media (max-width: 580px) {
              .checkout .cart-wrapper .cart .cart-item .cart-item-bottom .price-ship-details .media-cart-bot {
                display: none; } }
          .checkout .cart-wrapper .cart .cart-item .cart-item-bottom p {
            color: #7a7979;
            text-align: left;
            margin-top: 15px; }
      .checkout .cart-wrapper .cart .item-header {
        border-bottom: 2px solid #EEE;
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        margin-bottom: 20px; }
        @media (max-width: 580px) {
          .checkout .cart-wrapper .cart .item-header {
            display: none; } }
        .checkout .cart-wrapper .cart .item-header .item-left {
          padding-left: 10px;
          width: calc(100% / 2.7);
          font-size: 14px; }
        .checkout .cart-wrapper .cart .item-header .item-right {
          padding-right: 10px;
          display: flex;
          justify-content: space-between;
          width: calc(100% / 2.7);
          font-size: 14px; }
          .checkout .cart-wrapper .cart .item-header .item-right h2 {
            width: calc(100% / 3);
            text-align: left; }
          .checkout .cart-wrapper .cart .item-header .item-right h2:nth-child(3) {
            text-align: right;
            width: auto; }
      .checkout .cart-wrapper .cart p {
        text-align: center;
        color: #999;
        margin-top: 20px;
        font-size: 14px; }
      .checkout .cart-wrapper .cart .btn-empty-cart {
        background-color: #68D2C3;
        border-bottom: 3px solid #58b9ab;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        padding: 10px 20px 8px;
        border-radius: 3px;
        height: 45px;
        margin-bottom: 20px;
        color: #FFF;
        font-weight: bold;
        margin: 20px auto;
        display: block; }
      .checkout .cart-wrapper .cart .btn-empty-cart:hover {
        cursor: pointer; }
      .checkout .cart-wrapper .cart .btn-wrapper {
        padding: 0px 0px 5px 0px;
        border-bottom: 2px solid #EEE;
        margin: 0px 0px 5px 0px; }
    .checkout .cart-wrapper .j-promise {
      background-color: #FFF;
      padding: 20px;
      width: 100%;
      max-width: 275px;
      height: 0%; }
      @media (max-width: 915px) {
        .checkout .cart-wrapper .j-promise {
          max-width: 169px; } }
      @media (max-width: 800px) {
        .checkout .cart-wrapper .j-promise {
          width: 95%;
          margin: auto;
          box-sizing: border-box;
          max-width: none;
          max-height: none; } }
      .checkout .cart-wrapper .j-promise p {
        color: #999;
        margin: 20px 0px;
        font-size: 14px;
        line-height: 1.5; }
    .checkout .cart-wrapper h1 {
      padding: 10px 10px 20px;
      margin: 0px 0px 20px;
      border-bottom: 2px solid #EEE; }
      @media (max-width: 580px) {
        .checkout .cart-wrapper h1 {
          font-size: 14px; } }

.like {
  margin-top: 8px;
  background: white;
  padding: 6px 10px;
  border: 1px solid #d9d3d3;
  border-radius: 3px;
  color: #999;
  font-size: 12px;
  display: flex;
  min-width: 50px; }
  .like img {
    align-self: center;
    width: 10px;
    margin-right: 2px; }

@media (max-width: 1025px) {
  .media-product {
    margin: 0; } }

.account-menu {
  position: absolute;
  top: 0;
  left: 0; }
  .account-menu .up-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFF;
    position: absolute;
    right: 30px;
    top: 52px;
    z-index: 11; }
  .account-menu .menu-background {
    background: #b4adad;
    opacity: .8;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10; }
  .account-menu .menu-details {
    padding: 30px;
    background-color: #FFF;
    width: 240px;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 11; }
    .account-menu .menu-details a {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px; }
    .account-menu .menu-details a:hover p {
      color: #FF8188; }
    .account-menu .menu-details .no-pad {
      padding: 0; }
    .account-menu .menu-details p {
      font-size: 17px;
      color: #333; }
    .account-menu .menu-details img {
      width: 18px;
      height: 18px; }
    .account-menu .menu-details .logout {
      margin-top: 25px;
      cursor: pointer; }

.max-width {
  width: 100%; }

.btn-large-font {
  font-size: 16px; }

.history .history-wrapper {
  margin: 20px auto 40px;
  max-width: 1300px;
  background-color: #FFF; }
  .history .history-wrapper .history-orders {
    width: 95%;
    padding: 20px;
    box-sizing: border-box; }
    .history .history-wrapper .history-orders h1 {
      padding-bottom: 20px;
      border-bottom: 1px solid #1c1c1c; }
      @media (max-width: 900px) {
        .history .history-wrapper .history-orders h1 {
          text-align: center; } }
    .history .history-wrapper .history-orders .order {
      overflow: hidden;
      padding: 30px 0px;
      border-bottom: 1px solid #1c1c1c; }
      .history .history-wrapper .history-orders .order .bot-mar {
        margin-bottom: 15px; }
      .history .history-wrapper .history-orders .order .order-pricing {
        padding: 30px 10px 0 20px; }
        .history .history-wrapper .history-orders .order .order-pricing .left {
          float: left;
          padding: 0;
          text-align: end;
          margin-right: 20px; }
        .history .history-wrapper .history-orders .order .order-pricing h3 {
          margin-bottom: 10px;
          font-size: 14px; }
        .history .history-wrapper .history-orders .order .order-pricing h4 {
          padding-top: 20px;
          font-size: 15px;
          font-weight: bold; }
      .history .history-wrapper .history-orders .order .line-item {
        display: flex;
        padding: 20px 0 20px 10px;
        border-bottom: 1px dashed #868181; }
        @media (max-width: 900px) {
          .history .history-wrapper .history-orders .order .line-item {
            display: block; } }
        @media (max-width: 900px) {
          .history .history-wrapper .history-orders .order .line-item .media-line {
            display: none; } }
        .history .history-wrapper .history-orders .order .line-item p {
          color: #7a7979;
          font-size: 14px;
          margin-bottom: 5px; }
        @media (max-width: 900px) {
          .history .history-wrapper .history-orders .order .line-item p:nth-child(1) {
            margin-top: 10px; } }
        .history .history-wrapper .history-orders .order .line-item .seller-price p:nth-child(1) {
          color: #6b6a6a; }
        .history .history-wrapper .history-orders .order .line-item div:nth-child(2) {
          width: calc(100% / 3); }
          @media (max-width: 900px) {
            .history .history-wrapper .history-orders .order .line-item div:nth-child(2) {
              width: auto; } }
        .history .history-wrapper .history-orders .order .line-item div {
          margin-left: 20px; }
          @media (max-width: 900px) {
            .history .history-wrapper .history-orders .order .line-item div {
              margin-left: 10px; } }
        .history .history-wrapper .history-orders .order .line-item img {
          height: 51px;
          width: 100px;
          padding-left: 10px; }
      .history .history-wrapper .history-orders .order .order-sum {
        display: flex; }
        @media (max-width: 900px) {
          .history .history-wrapper .history-orders .order .order-sum {
            justify-content: space-between; } }
        .history .history-wrapper .history-orders .order .order-sum div {
          width: calc(100% / 5); }
        .history .history-wrapper .history-orders .order .order-sum div:nth-child(1) {
          padding-left: 2px; }
        @media (max-width: 900px) {
          .history .history-wrapper .history-orders .order .order-sum .media-history {
            display: none; } }
      .history .history-wrapper .history-orders .order .shipping-details {
        padding: 30px 0 30px 10px;
        border-bottom: 1px dashed #868181; }
        .history .history-wrapper .history-orders .order .shipping-details p {
          margin-bottom: 5px; }
        .history .history-wrapper .history-orders .order .shipping-details h2 {
          margin-bottom: 5px;
          font-weight: bold; }
      .history .history-wrapper .history-orders .order div:nth-child(1) {
        padding-left: 20px; }
      .history .history-wrapper .history-orders .order .show-order-items {
        color: #7cd8cb;
        cursor: pointer; }

.history .no-history {
  height: 22px;
  width: 100%;
  padding: 20px;
  margin: 95px 0;
  box-sizing: border-box;
  display: inline-table;
  background-color: #FFF;
  text-align: center;
  line-height: 22px; }
  .history .no-history a {
    color: #7cd8cb; }

.account {
  margin: 20px auto 40px;
  max-width: 1300px;
  display: flex; }
  @media (max-width: 800px) {
    .account {
      display: block; } }
  .account .clearfix {
    display: block;
    margin: 10px 0 15px; }
  .account .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .account h1 {
    padding: 10px 0 25px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    font-size: 14px; }
  .account input {
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #dbd9d9;
    border-radius: 3px;
    font-size: 15px; }
  .account span {
    color: #7cd8cb;
    cursor: pointer;
    font-size: 14px; }
  .account .update_profile {
    width: 50%;
    margin-right: 10px;
    padding: 20px;
    background-color: #FFF; }
    @media (max-width: 800px) {
      .account .update_profile {
        width: 98%;
        margin: auto;
        box-sizing: border-box; } }
    .account .update_profile .success {
      background-color: #DFF0D8;
      padding: 10px;
      margin-bottom: 15px;
      border: #EEE; }
      .account .update_profile .success p {
        margin: 0;
        color: #29612A;
        text-align: center; }
    .account .update_profile .error {
      border-color: red;
      color: red; }
    .account .update_profile .invalid {
      color: red;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      line-height: 20px;
      margin: 0; }
    .account .update_profile .mar-bot {
      margin-bottom: 10px; }
    .account .update_profile .line {
      border-bottom: 1px solid #EEE;
      width: 100%;
      margin: 15px 0 25px; }
    .account .update_profile .btn {
      background-color: #68D2C3;
      border-bottom: 3px solid #58b9ab;
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
      padding: 10px 20px 8px;
      width: 100%;
      border-radius: 3px;
      height: 45px;
      margin-bottom: 10px;
      color: #FFF;
      font-weight: bold; }
  .account .support {
    width: 50%;
    margin-left: 10px;
    padding: 20px;
    background-color: #FFF;
    height: 0%; }
    @media (max-width: 800px) {
      .account .support {
        margin: 20px auto 0;
        width: 98%;
        box-sizing: border-box; } }
  .account p {
    color: #999;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px; }

.confirmation {
  background-color: #FFF;
  padding: 20px;
  margin: 20px auto 40px;
  max-width: 1300px; }
