@import "base/variables";

body {
    font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

.nav {
  z-index: 5;
  background-color: #FFF;
  position:fixed;
  width: 100%;
  font-size: 14px;
  height: 65px;
  .active {
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
  }
  .nav-left {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 17px;
    float: left;
    width: calc(100% / 3);
    p {
      margin: 0px 8px;
    }
    input {
      margin-left: 10px;
    }
    .search {
      border-radius: 3px;
      width: 185px;
      background: #E5E5E5 url(../img/icons/search.svg) no-repeat scroll 11px 11px;
      padding: 11px 0px 11px 30px;
      border-style: none;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 140px;
      height: 25px;
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 17px;
    width: calc(100% / 3);
    float: right;
    .cart-qty {
      border-radius: 50%;
      background-color: #ff8188;
      color: #FFF;
      font-size: 10px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      margin-left: -10px;
    }
    .user {
      cursor: pointer;
    }
    .user::after {
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      content: '';
      transform: rotate(135deg);
      height: .45em;
      width: .45em;
      position: relative;
      vertical-align: top;
      left: 5px;
    }
    .hide {
      display: none;
    }
    img:nth-child(3){
      margin-left: 10px;
    }
    p {
      margin-left: 10px;
      margin-right: 15px;
    }
    .login {
      color: $highlights;
    }
  }

  .links {
    background-color: #FFF;
    z-index: 5;
    height: 61px;
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
  }

  .slide-in {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height:0px;
  }

  .slide-out {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height:61px;
  }

}

.spacer {
  width: 100%;
  height: 127px;
}

.scroll {
  width: 100%;
}

.main {
  background: $background;
  width: 100%;
}

.footer {
  li:hover {
    cursor: pointer;
  }
  .facebook:hover {
      cursor: pointer;
      path {
        fill: #4f6eae;
      }
  }
  .twitter:hover {
      cursor: pointer;
      path {
        fill: #7cd8cb;
      }
  }
  .pinterest:hover {
      cursor: pointer;
      path {
        fill: #B93936;
      }
  }
  .instagram:hover {
      cursor: pointer;
      path {
        fill: #527FA4;
      }
  }
  .snapchat:hover {
    cursor: pointer;
    path {
      fill: yellow;
    }
  }

  background-color: #FFF;
  h1 {
    font-size: 10px;
  }
  li {
    font-size: 9px;
    margin: 15px 0 16px 0;
    color: #999999;
  }
  .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5;
    .left {
      width: 415px;
      display: flex;
      justify-content: space-between;
    }
    .right {
      width: 150px;
      display: flex;
      justify-content: space-between;
      img {
        height: 20px;
      }
    }
  }
  .bottom {
    margin: 4px 0 0 0;
    border-top: 1px solid #E5E5E5;
    p {
      font-size: 12px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    img {
      height: 20px;
      width: 65px;
    }
  }
}

.shop {
  position: relative;
  padding-top: 15px;
  background-color: $background;
  .products-container {
    max-width: 1300px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    .product-summary {
      padding: 9px 20px 0px;
      height: 51px;
      background-color: #FFF;
      display: flex;
      justify-content: space-between;
      .like {
        margin-top: 8px;
        background: white;
        padding: 6px 10px;
        border: 1px solid #d9d3d3;
        border-radius: 3px;
        color: #999;
        font-size: 12px;
        display: flex;
        img {
          align-self: center;
          width: 10px;
          margin-right: 2px;
        }
      }
      .product-sum-left {
        margin-top: 8px;
      }
        .small {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 180px;
        }
        .product-name {
          font-size: 13px;
          color: #999;
        }
      .sale-price {
        color: #FF8188;
        font-size: 12px;
        clear: both;
      }
      .retail-price {
        color: #999;
        text-decoration:line-through;
        font-size: 12px;
      }
    }
    .large-product-container {
      width: 620px;
      margin: 15px 15px;
      img {
        width: 620px;
        display: block;
      }
     }
     .small-product-container {
       width: 295px;
       margin: 15px 15px;
       img {
         width: 295px;
         display: block;
       }
      }
    }
  .ads {
    max-width: 1300px;
    margin: 15px auto;
      .small-ad {
        width: 295px;
        margin: 0px 15px;
        display: inline-block;
        vertical-align: top;
        img {
          max-width: 100%;
        }
      }
    }
    .large-ad {
      width: 620px;
      margin: 0px 15px;
      display: inline-block;
      img {
        max-width: 100%;
      }
    }
    .item-container {
      background: #FFF;
      width: 940px;
      margin: 0px auto 15px;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      b {
        font-weight: bold;
      }
      .product-description {
        width: 700px;
        padding-right: 30px;
        .product-details {
          margin-top: 15px;
          p {
            margin-bottom: 10px;
            font-size: 15px;
          }
          ul {
            list-style: initial;
            list-style-position: inside;
            li {
              font-size: 14px;
              color: #afabab;
              line-height: 20px;
            }
          }
        }
        h1 {
          margin-bottom: 15px;
          font-size: 15px;
        }
        .description {
          p {
            color: #afabab;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .seller-info {
        width: 370px;
        padding-left: 30px;
        border-left: 1px solid #EEE;
        h1 {
          margin-bottom: 15px;
          font-size: 15px;
        }
        p {
          color: #afabab;
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 20px;
        }
        .seller {
          position: relative;
          margin-bottom: 15px;
          span {
            color: #afabab;
            margin-left: 20px;
            position: absolute;
            top: 40%;
            font-size: 13px;
          }
        }
        img {
          width: 80px;
          border-radius: 50px;
        }
      }
      .left-item {
        img {
          width: 620px;
        }
        .carousel {
          padding-bottom: 15px;
          border-bottom: 2px solid #EEE;
          img {
            width: 100px;
          }
        }
        .sale-info {
          padding: 20px 0px;
          border-bottom: 2px solid #EEE;
        }
      }
      .right-item {
        width: 280px;
        .add-to-cart {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          input {
            padding: 10px 16px;
            width: 36px;
            margin-right: 10px;
            border: 1px solid #dbd9d9;
            border-radius: 3px;
            font-size: 15px;
          }
          input:focus {
            border-color: #68D2C3;
          }
          button {
            background: #68D2C3;
            border-color: #68D2C3;
            border-bottom: 3px solid #58bdaf;
            border-radius: 3px;
            color: #FFF;
            width: 100%;
            padding: 10px 20px 8px;
            line-height: 25px;
            text-align: center;
            border-right: 0px;
            font-size: 15px;
          }
        }
        h1 {
          font-size: 20px;
        }
        .price-favorites {
          margin-bottom: 20px;
          margin-top: 10px;
          overflow: hidden;
          .product-sum-left {
            float: left;
            margin-top: 8px;
          }
          .product-sum-right {
            float: right;
          }
            .small {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 180px;
            }
            .product-name {
              font-size: 13px;
              color: #999;
            }
          .sale-price {
            color: #FF8188;
            font-size: 16px;
            vertical-align: -webkit-baseline-middle;
          }
          .retail-price {
            color: #999;
            text-decoration:line-through;
            font-size: 12px;
            vertical-align: bottom;
          }
        }
        .shipping {
          clear: both;
          margin-bottom: 20px;
          span {
            font-size: 12px;
            color: #999;
            font-style: italic;
          }
          img {
            vertical-align: bottom;
            margin-right: 3px;
          }
        }
        .social-media {
          display: flex;
          justify-content: space-around;
          padding: 15px 0px;
          border-top: 1px solid #EEE;
          border-bottom: 1px solid #EEE;
        }
        .product-details {
          margin-top: 15px;
          p {
            margin-bottom: 10px;
          }
          ul {
            list-style: initial;
            list-style-position: inside;
            li {
              font-size: 13px;
              color: #afabab;
              line-height: 20px;
            }
          }
          .read-more {
            margin-top: 15px;
            color: #B7E9E2;
          }
        }
      }
    }
}

.base {
    background: $background;
    height: 100%;
  .has-account {
    margin: 15px 0px 40px;
    color: #7cd8cb;
    font-size: 14px;
    text-align: center;
  }
  .logon {
    background: $background;
  }
}

.login-pane {
  background: #FFF;
  width: 270px;
  min-height: 429px;
  padding: 30px 40px 40px 40px;
  margin: 30px auto;
  img {
    display: block;
    width: 180px;
    margin: 20px auto 40px auto;
  }
  .fb-auth {
    background: #4f6eae;
    border-color: #47639c;
    border-bottom: 3px solid #47639c;
    border-radius: 3px;
    color: #FFF;
    width: 100%;
    padding: 10px 20px 8px;
    line-height: 25px;
    text-align: center;
    border-right: 0px;
    font-weight: bold;
    font-size: 15px;
  }
  .or {
    margin: 20px 60px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
  }
  .or::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #d6d6d6;
    width: 50px;
    height: 3px;
    transform: translateX(15px);
  }
  .or::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #d6d6d6;
    width: 50px;
    height: 3px;
    transform: translateX(-15px);
  }
  .login-form {
    .invalid-login {
      border: 1px solid #ffced0;
      color: #ff4e58;
      border-radius: 5px;
      padding: 20px;
      text-align: left;
      font-size: 14px;
      line-height: 20px;
    }
    .hide {
      display: none;
    }
    .login {
      input {
        margin: 10px 0px;
      }
      .invalid {
        border-color: red;
      }
      .error {
        color: red;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        line-height: 20px;
      }
      .hide {
        display: none;
      }
    }
    .sign-up {
      input {
        margin: 5px 0px;
      }
      .invalid {
        border-color: red;
      }
      .error {
        color: red;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        line-height: 20px;
      }
      .hide {
        display: none;
      }
    }
    .input-wrapper {
      width: 270px;
      input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 16px;
        border-radius: 3px;
        border: 1px solid #d6d6d6;
      }
    }
    p {
      color: #7cd8cb;
      text-align: center;
      margin-bottom: 10px;
    }
    .btn {
      background-color: #68D2C3;
      border-bottom: 3px solid #58b9ab;
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
      padding: 10px 20px 8px;
      width: 100%;
      border-radius: 3px;
      height: 45px;
      margin-bottom: 10px;
      color: #FFF;
      font-weight: bold;
    }
    .btn-sign-up {
      margin-top: 5px;
    }
  }
}

.checkout {
  background-color: $background;
  .cart-wrapper {
    margin: 20px auto 40px;
    max-width: 1300px;
    display: flex;
    .cart {
      min-height: 195px;
      background-color: #FFF;
      max-width: 930px;
      width: 100%;
      padding: 20px;
      margin-right: 20px;
      .cart-login-signup {
        display: flex;
        div {
          width: 100%;
        }
        .cart-reset {
          padding: 0 20px 10px 10px;
          margin: 0px;
          min-height: 300px;
          width: 50%;
          h1 {
            padding: 0 0 20px 0;
            line-height: 20px;
            font-size: 15px;
            color: #999;
            border-bottom: 1px solid #dbd9d9;
          }
          p {
            margin: 0;
          }
          p:nth-child(1) {
            margin: 20px 60px;
            text-align: center;
            font-style: italic;
            font-size: 17px;
            font-weight: 600;
            color: #1a1819;
          }
        }
        .cart-reset-login {
          input:nth-child(1) {
            margin: 0;
          }
          .line {
            margin-top: 15px;
            padding-top: 20px;
            border-top: 1px solid #dbd9d9;
          }
          h2 {
            color: red;
            padding: 0;
            margin-bottom: 10px;
            border: none;
          }
        }
      }
      .login-cart {
        display: flex;
        h1 {
          font-size: 14px;
          padding: 30px 0 30px;
          width: 50%;
          border-bottom: 1px solid #e5e5e5;
        }
        h1:nth-child(1){
          padding-left: 10px;
          margin-right: 10px;
        }
      }
      .complete-order {
        padding: 0 10px;
      }
      .terms-of-use {
        padding: 25px 0 0;
        border-bottom: 1px solid #e5e5e5;
        h1 {
          color: #999;
          border: none;
          padding: 0 0 5px 10px;
        }
        span {
          cursor: pointer;
          color: $highlights;
        }
      }
      .shipping-payment {
        padding: 10px 0px 30px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        .hide {
          display: none;
        }
        .address-form {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 10;
          .menu-background {
            background: #F5F5F5;
            opacity: .8;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10;
          }
          .address-details {
            padding: 20px;
            background-color: #FFF;
            width: 280px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            .address-header {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              border-bottom: 1px solid #e5e5e5;
              padding: 0 0 20px 0;
              margin-bottom: 20px;
              p {
                color: #000;
                font-size: 15px;
                margin-top: 0;
              }
              img {
                cursor: pointer;
              }
            }
            .address-input {
              .error {
                padding: 10px 0px 0px 10px;
                font-size: 15px;
                color: #ffc261;
              }
              .hide {
                display: none;
              }
              input {
                width: 100%;
                padding: 10px 10px;
                margin: 10px 0;
                background-color: #FCFCFC;
                box-sizing: border-box;
                border: 1px solid #E9E9E9;
                font-size: 14px;
              }
              input:nth-child(2),
              input:nth-child(5) {
                margin-top: 0;
              }
              h1 {
                border: none;
                padding: 0;
                margin: 15px 0 8px 0;
                font-weight: bold;
                font-size: 13px
              }
              button {
                background-color: #68D2C3;
                border-bottom: 3px solid #58b9ab;
                border-right: 0px;
                border-left: 0px;
                border-top: 0px;
                padding: 10px 20px 8px;
                border-radius: 3px;
                height: 45px;
                color: #FFF;
                font-weight: bold;
                margin: 10px auto 0px;
                float: right;
              }
            }
          }
        }
        .new-address {
          width: calc(100% / 2);
          .shipping_address {
            padding: 10px 10px 0 0;
            display: flex;
            align-items: baseline;
            input {
              margin-right: 20px;
            }
            p {
              margin: 0 0 5px 0;
              font-weight: bold;
              text-align: left;
              color: #000;
            }
            h3 {
              font-weight: normal;
              line-height: 20px;
              font-size: 13px;
            }
          }
          button {
            width: 90%;
            cursor: pointer;
            float: left;
          }
        }
        .payment-method {
          width: calc(100% / 2);
          padding: 20px 0 0;
          h1 {
            border: none;
            padding: 0;
            font-size: 14px;
            color: #999;
            text-align:center;
          }
          .pay-btm {
            display: flex;
            justify-content: center;
            button {
              height: 40px;
              padding: 10px 15px;
              color: white;
              background-color: #7CD8CB;
              border: none;
              cursor: pointer;
            }
            button:nth-child(3) {
              background-color: #FF881C;
            }
            img {
              height: 40px;
              width: 105px;
              padding: 0px 12px;
              cursor: pointer;
            }
          }
        }
        .pay-by-card {
          width: calc(100% / 2);
          padding-top: 10px;
          span {
            padding-left: 10px;
          }
          span:nth-child(1) {
            color: #44C7B5;
            font-size: 14px;
            margin-top: 10px;
            cursor: pointer;
            img {
              margin-right: 8px;
            }
          }
          h1 {
            border: none;
            padding: 0;
            margin: 15px 0;

          }
          form {
            padding-right: 20px;
          }
          .input-text {
            width: 100%;
            padding: 10px;
            margin: 8px 10px 0px;
            background-color: #FFF;
            border: 1px solid #ccc;
            font-size: 14px;
            box-sizing: border-box;
            border-radius: 3px;
          }
          .drop-down-box {
            color: #555555;
            font-weight: bold;
            width: 100%;
            padding: 10px;
            margin: 8px 10px 0px;
            border: 1px solid #ccc;
            font-size: 15px;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid #ccc;
            background-color: #FFF;
            .invalid {
              border-color: red;
              color: red;
            }
            option {
              font-weight: bold;
            }
          }
          .billing-address {
            padding: 15px 10px 20px 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #EEEEEE;
            width: 100%;
            font-size: 15px;
            color: #555555;
          }
          .same-text {
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 7px;
            margin-top: 5px;
            float: left;
          }
          .same-address {
            margin: 0px 8px 0px 10px;
            vertical-align: text-top;
          }
          .cvv {
            padding: 10px;
            margin: 8px 10px 0px;
            font-size: 14px;
            box-sizing: content-box;
            width: 55px;
            height: 17px;
            padding: 10px 16px;
            border-radius: 3px;
            border: 1px solid #ccc;
          }
          .invalid {
            border-color: red;
            color: red;
          }
        }
      }
      .shipping-header {
        font-size: 14px;
        padding: 30px 10px 10px;
        display: flex;
        border-bottom: 1px solid #e5e5e5;
        h1 {
          width: calc(100% / 2);
          text-align: left;
          border: none;
          padding: 0;
        }
      }
      .note {
        padding: 5px 0 25px 0;
        border-bottom: 1px solid #e5e5e5;
        p {
          line-height: 25px;
          font-size: 16px;
          text-align: left;
          font-style: italic;
        }
      }
      .order-total {
        padding: 5px 10px 25px;
        border-bottom: 1px solid #e5e5e5;
        height: 100px;
        .order-right {
          width: calc(100% / 2);
          float: right;
          div {
            height: 20px;
            h1 {
              font-size: 14px;
              padding: 0;
              margin: 0 0 10px 0;
              border: none;
              text-align: right;
              width: 40%;
              float: left;
              margin-bottom: 10px
            }
            h1:nth-child(2) {
              width: 30%;
              float: right;
            }
          }
          .final-price {
            font-weight: bold;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed #EEE;
            h1 {
              font-size: 17px;
            }
          }
        }
      }
      .cart-item {
        padding-bottom: 20px;
        border-bottom: 2px solid #EEE;
        margin-bottom: 20px;
        .hide {
          display: none;
        }
        .edit-qty {
          position: relative;
          width: calc(100% / 2.6);
          float: right;
          padding: 10px 0px;
          input {
            padding: 5px 15px;
            width: 10px;
            background-color: #FCFCFC;
            border: solid 1px #e5e5e5;
            color: #7A7979;
            font-size: 14px;
          }
          img {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            height: 12px;
            float: right;
            padding-right: 10px;
            cursor: pointer;
          }
        }
        .clearfix {
          display: block;
          border-bottom: 1px dashed #EEE;
        }
        .clearfix:after {
           content: ".";
           display: block;
           clear: both;
           visibility: hidden;
           line-height: 0;
           height: 0;
        }
        .cart-item-top {
          padding-bottom: 15px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed #EEE;
          img {
            width: 100px;
            height: 51px;
          }
          .cart-item-left {
            display: flex;
            width: calc(100% / 2);
            padding-left: 10px;
              p {
                text-align: left;
                margin: 0 0 15px 25px;
                font-size: 16px;
              }
              p:nth-child(1) {
                color: #6b6a6a;
              }
            }
          .cart-item-right {
            display: flex;
            justify-content: space-between;
            width: calc(100% / 2.7);
            padding-right: 10px;
            h2 {
              width: calc(100% / 2);
              text-align: left;
              color: #7a7979;
              font-size: 14px;
            }
            h2:nth-child(3) {
              text-align: right;
              width: auto;
            }
            span {
              color: $highlights;
              cursor: pointer;
            }
          }
        }
        .cart-item-bottom {
          padding: 25px 10px 15px;
          clear: both;
          .price-ship-details {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #3e3d3d;
          }
          p {
            color: #7a7979;
            text-align: left;
            margin-top: 15px;
          }
        }
      }
      .item-header {
        border-bottom: 2px solid #EEE;
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        margin-bottom: 20px;
        .item-left {
          padding-left: 10px;
          width: calc(100% / 2.7);
          font-size: 14px;
        }
        .item-right {
          padding-right: 10px;
          display: flex;
          justify-content: space-between;
          width: calc(100% / 2.7);
          font-size: 14px;
          h2 {
            width: calc(100% / 3);
            text-align: left;
          }
          h2:nth-child(3) {
            text-align: right;
            width: auto;
          }
        }
      }
      p {
        text-align: center;
        color: #999;
        margin-top: 20px;
        font-size: 14px;
      }
      .btn-empty-cart {
        background-color: #68D2C3;
        border-bottom: 3px solid #58b9ab;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        padding: 10px 20px 8px;
        border-radius: 3px;
        height: 45px;
        margin-bottom: 20px;
        color: #FFF;
        font-weight: bold;
        margin: 20px auto;
        display: block;
      }
      .btn-empty-cart:hover {
        cursor: pointer;
      }
      .btn-wrapper {
        padding: 0px 0px 5px 0px;
        border-bottom: 2px solid #EEE;
        margin: 0px 0px 5px 0px;
      }
    }
    .j-promise {
      background-color: #FFF;
      padding: 20px;
      width: 100%;
      max-width: 275px;
      max-height: 345px;
      p {
        color: #999;
        margin: 20px 0px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
    h1 {
      padding: 10px 10px 20px;
      margin: 0px 0px 20px;
      border-bottom: 2px solid #EEE;
    }

  }
}

.like {
  margin-top: 8px;
  background: white;
  padding: 6px 10px;
  border: 1px solid #d9d3d3;
  border-radius: 3px;
  color: #999;
  font-size: 12px;
  display: flex;
  min-width: 50px;
  img {
    align-self: center;
    width: 10px;
    margin-right: 2px;
  }
}


.account-menu {
  position: absolute;
  top: 0;
  left: 0;
  .up-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFF;
    position: absolute;
    right: 30px;
    top: 52px;
    z-index: 11;
  }
  .menu-background {
    background: #b4adad;
    opacity: .8;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
  }
  .menu-details {
    padding: 30px;
    background-color: #FFF;
    width: 240px;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 11;
    a {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }
    .no-pad {
      padding: 0;
    }
      p {
        font-size: 17px;
        color: #333;
      }
      img {
        width: 18px;
        height: 18px;
      }
    .logout {
      margin-top: 25px;
      cursor: pointer;
    }
  }
}


.max-width {
  width: 100%;
}

.btn-large-font {
  font-size: 16px;
}

.history {
  .no-history {
    height: 22px;
    width: 100%;
    padding: 20px;
    margin: 95px 0;
    box-sizing: border-box;
    display: inline-table;
    background-color: #FFF;
    text-align: center;
    line-height: 22px;
    a {
      color: #7cd8cb;
    }
  }
}
