@import "base/variables";

body {
    font-family: sans-serif;
}

.nav {
  z-index: 5;
  background-color: #FFF;
  position:fixed;
  width: 100%;
  font-size: 14px;
  height: 65px;
  .nav-left {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 17px;
    float: left;
    width: calc(100% / 3);
    p {
      margin: 0px 8px;
    }
    input {
      margin-left: 10px;
    }
    .search {
      border-radius: 3px;
      width: 185px;
      background: #E5E5E5 url(../img/icons/search.svg) no-repeat scroll 11px 11px;
      padding: 11px 0px 11px 30px;
      border-style: none;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 140px;
      height: 25px;
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 17px;
    width: calc(100% / 3);
    float: right;
    img:nth-child(3){
      margin-left: 10px;
    }
    p {
      margin-left: 10px;
    }
    .login {
      color: $highlights;
    }
  }

  .links {
    background-color: #FFF;
    z-index: 5;
    height: 61px;
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
  }

  .slide-in {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    height:0px;
  }

  .slide-out {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    height:61px;
  }

}

.spacer {
  width: 100%;
  height: 127px;
}

.scroll {
  height: 140vh;
  width: 100%;
}

.background {
  background-color: $background;
}

.main {
  width: 100%;
}

.all-deals {
  position: relative;
  padding-top: 80px;
  height: 140vh;
}

.footer {
  li:hover {
    cursor: pointer;
  }
  .facebook:hover {
      cursor: pointer;
      path {
        fill: #4f6eae;
      }
  }
  .twitter:hover {
      cursor: pointer;
      path {
        fill: #7cd8cb;
      }
  }
  .pinterest:hover {
      cursor: pointer;
      path {
        fill: #B93936;
      }
  }
  .instagram:hover {
      cursor: pointer;
      path {
        fill: #527FA4;
      }
  }
  .snapchat:hover {
    cursor: pointer;
    path {
      fill: yellow;
    }
  }

  background-color: #FFF;
  h1 {
    font-size: 10px;
  }
  li {
    font-size: 9px;
    margin: 15px 0 16px 0;
    color: #999999;
  }
  .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #e5e5e5;
    .left {
      width: 415px;
      display: flex;
      justify-content: space-between;
    }
    .right {
      width: 150px;
      display: flex;
      justify-content: space-between;
      img {
        height: 20px;
      }
    }
  }
  .bottom {
    margin: 4px 0 0 0;
    border-top: 1px solid #E5E5E5;
    p {
      font-size: 12px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    img {
      height: 20px;
      width: 65px;
    }
  }
}
